@import url('https://fonts.googleapis.com/css2?family=Notable&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200 ..1000&family=Orbitron:wght@400..900&family=Righteous&display=swap');

/*font-family: "Notável", sans-serif; peso da fonte: 400; estilo de fonte: normal;*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Notable&family=Nunito+Sans:ital,opsz,wght@0,6..12,200. .1000;1,6..12,200..1000&family=Orbitron:wght@400..900&family=Righteous&display=swap');

/**/

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Notável", sans-serif;
    font-size: 0.75rem;
    color:white;
    /*background: linear-gradient(to bottom, #2900ff, rgb(85, 70, 196));
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    opacity: 0;
    animation: fadeIn 3s forwards;
    
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}



.header-lista{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 40px;
    position: fixed; /* Fixa o elemento */
    top: 0; /* Posiciona o elemento no topo */
    width: 100%;
    z-index: 1000; /* faz a header sobrepor acima os outros elementos */
    
}
.header-lista a{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    transition: 0.5s;  

}

.header-lista a:hover{
    -webkit-text-stroke: 0.5px rgb(248, 246, 246);
    color: transparent;
}
/*AQUI ACABA O HEARDER*/

.galeria{
    background-image: url(./img/background3.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 125px;
    flex-wrap: wrap;

}

.main-projetos{
    background-image: url(./img/background1.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0px;
    
}

.main-projetos a{
    display: flex;
    flex-wrap: wrap;
    font-size: 3rem;
    font-weight: 3000;
    -webkit-text-stroke: 0.9px rgb(248, 241, 241);
    color: transparent;
    text-align: center;
    font-style: bold;
    transition: 0.5s; 
    padding: 240px 0px;
 

    
}

.main-projetos a:hover{
    -webkit-text-stroke: 0.9px rgb(117, 10, 19);
    color: rgb(117, 10, 19);



}

.projetos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
/*AQUI ACABA  A MAIN*/

.sobre-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}


.sobre-img-div{

    max-width: 35vh;
    gap: 15px;

}


.detalhes-links-creditos{
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 30px;
    gap: 20px;
    background-image: url(./img/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}



.detalhes{
    font-size: 11px;

}

.links a{
    color: white;
    padding: 15px;
}

.igpessoal{
    color: white;
}

.logo{
    color: white;
    font-size: 10px;
    font-style: bold;
    position: fixed;
    left: 10px;
    top: 10px;
    width: 60px;
    z-index: 1000;
    border: 3px solid #f4eeee;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
